<!-- Section -->
<section>
  <header class="major">
    <h2>Articles</h2>
  </header>
  <div class="posts">

    <% page.posts.each(function(item, itemIndex){ %>
          <%- partial('partial/article/article-index', {item: item}) %>
    <% }); %>

  </div>
  <div class="center">
    <ul class="actions">
      <li><a href="#" class="button special fit icon fa-search">Read More Articles</a></li>
    </ul>
  </div>
</section>
