<!-- Menu -->
<nav id="menu">
  <header class="major">
    <% if (theme.menu.title) { %>
      <h2><%- theme.menu.title -%></h2>
    <% }  else { %>
      <h2>Looking Around</h2>
    <% } %>
  </header>
  <ul>
    <% for (var i in theme.menu.items){ %>
      <li>
        <a href="<%- url_for(theme.menu[i]) %>">
          <%= i %>
        </a>
      </li>
      <% } %>
  </ul>
</nav>
